body {
    display: flex;
    display: grid;
    grid-template-columns: 15em 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "alert alert" "menu content";
}

html {
    height: 100%;
}

section.menu {
    grid-area: menu;
}

main {
    grid-area: content;
}

.dialog {
    grid-gap: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(auto,10em) 1fr;
    grid-template-areas: "header header" "sidebar main" "buttons buttons";
}

section.dialog header {
    grid-area: header;
}

section.dialog ul.genrechoice {
    grid-area: sidebar;
}
